<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      google.charts.load('current', { packages: ['corechart'] });
      google.charts.setOnLoadCallback(drawBackgroundColor);

      function drawBackgroundColor() {
        function drawChart(data) {
          var dataTable = new google.visualization.DataTable();
          dataTable.addColumn('string', 'Date');
          dataTable.addColumn('number', 'Température');
          data.results.forEach(entry => {
            var date = new Date(entry.Jour * 1000);
            dataTable.addRow([date.toLocaleDateString(), entry.temp]);
          });

          var options = {
            title: 'Prévision des températures à Paris sur 16 jours',
            legend: { position: 'bottom' },
            vAxis: {
              title: 'Température (°C)',
              gridlines: { count: 4 } // Ajoute des lignes de grille sur l'axe vertical
            },
            hAxis: {
              title: 'Date',
            },
            colors: ['#1b9e77'], // Change la couleur des colonnes
            chartArea: { width: '70%', height: '70%' } // Ajuste la zone du graphique pour donner plus d'espace
          };

          var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
          chart.draw(dataTable, options);
        }

        fetch('/paris/')
          .then(response => response.json())
          .then(data => {
            drawChart(data);
          })
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 800px; height: 500px;"></div>
  </body>
</html>
